<h1>Welcome One and All to the Magical Creatures Website!</h1>
<p>Dragons breathe fire, love gold and have scales!</p>
<img src= "https://vignette.wikia.nocookie.net/deathbattlefanon/images/0/06/Smaug.jpeg/revision/latest?cb=20140810184922" ref="Smaug" width = 500px/>